* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    background: #BCF8EC;
}

header,
footer {
    min-height: 15vh;
    text-align: center;
    background-color: #023C40;
    color: white;
}

header p {
    font-size: 75%;
}

main {
    background-color: #E1DEE3;
    min-height: 70vh;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    width: 30%;
    border: 1px dashed black;
    padding: 0 1%;
    padding-bottom: 1%;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

section:hover,
section:hover h2 {
    box-shadow: inset 0 0 8px #39A9DB, 0 0 8px #39A9DB;
}

section,
section h2 {
    transition: all 1s ease;

}

section h2 {
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    bottom: 16px;
    background: #E1DEE3;
}

section pre {
    padding: 2%;
    border-radius: 10px;
    background: linear-gradient(#f5c6cf, #d48896);
    flex-grow: 1;
    display: flex;
    align-items: center;
    user-select: all;
}


@media screen and (max-width:992px) {
    section {
        width: 45%;
    }
}

@media screen and (max-width:576px) {
    section {
        width: 97%;
    }
}